*{
    background-color: black;
    color: white;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 2em;
    border: 1px solid white;
}

#nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    border: 1px solid white;
}

#nav > div{
    margin: auto;
}

#intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 833px;
    border: 1px solid white;
}

.intro_left{
    width: 50%;
    height: inherit;
    text-align: center;
    border: 1px solid white;
}


#intro .intro_title{
    font-size: 3em;
    margin: 30px;
}

.profileImg{
    width: 350px;
    border-radius: 40%;
}

.profileText{    
    width: 400px;
    margin: 0 auto;
    text-align: left;
}

.profileText ul, .intro_right ul{
    font-size: 1.2em;
    margin: 30px;
}

.profileText ul li:first-child,
.intro_right ul li:first-child{
    font-size: 1.5em;
    font-weight: 800;
    color:steelblue
}

.profileText ul li,
.intro_right ul li{
    padding: 5px;
}

.intro_right{
    display: inline-block;
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

#tech{
    width: 100vw;
    height: 100vh;
    background-color: red;
}

#pf{
    width: 100vw;
    height: 100vh;
    background-color: blue;
}

#study{
    width: 100vw;
    height: 100vh;
    background-color: yellow;
}

#topBtn{
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 50px;
    height: 50px;
    float:right;
    cursor: pointer;
    z-index: 99;
}